/*
----------------------------------
  Variables

  Custom variables follow, along with edits from _variables.scss  
*/

$font-family-serif: "Cardo", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;


/*
----------------------------------
  Page elements
  
*/

body
  {
	line-height: 1.6;
  }

div#container
  {
  @include make-row();
  margin: 0 auto;
  text-align: center;
  }

nav#main,
nav#main-large,
header,
div#content,
footer
  {
  margin: 0 auto;
	padding-top: 4em;
	text-align: left;
	@include make-md-column(8);
	@include make-md-column-offset(2);
  }

footer
  {
	margin-bottom: 4em;
  }


/*
----------------------------------
  Navigation
  
*/

nav#main ul,
nav#main-large ul
  {
	list-style: none;
	text-align: center;
	  li
	    {
		  display: inline;
		  padding-right: 3em;
		  a
		    {
		    font-family: $font-family-serif;
  	  	font-style: italic;
  	  	text-decoration: none;
  	  	color: $grayCharcoal;
  	  	padding: 0.5em 0.8em;
  	  	background-color: $whiteAntiflash;
  	  	border: 1px solid $whiteAntiflash;
  	  	border-radius: 4px;
  	  	}
      a:hover,
      a:focus
        {
        background-color: #2A2C39;
        border: 1px solid #2A2C39;
        color: white;
        text-decoration: none;
        }
		  }
	}

nav#contact ul,
ul.posts
  {
	list-style: none;
  }

nav#contact ul
  {
  margin-top: 2em;
  margin-left: -3em;
  }

nav#contact li 
  {
  padding: 1em 0;
  line-height: 1em;
  }

div.page-nav-top
  {
	margin-bottom: 2em;
  }

div.page-nav-bottom
  {
	margin-top: 2em;
  }


/*
----------------------------------
  Icons
  
*/

span.contact
  {
  font-size: 1.5em;
  padding-right: 1em;
  margin-top: -0.16em;
  float: left;
  }


/*
----------------------------------
  Images
  
*/

img.profile-pic
  {
  display:inline;
  float:right;
  margin: 0 0 2em 2em;
  }


/*
----------------------------------
  Typography
  
*/

h1#site-title
  {
  a
    {
    color: $grayCharcoal;
    }
    a:hover,
    a:focus
      {
      text-decoration: none;
      }
	text-align: center;
	  a span
	    {
      display: block;
      }
    a span.the,
    a span.of
      {
      font-family: 'Open Sans';
      text-transform: uppercase; 
      }
    a span.the
      {
      line-height: 1em;
      padding: 0 0.8em;
      display: inline;
      background-color: white;
      }
    a span.oc
      {
      padding: 1em 0;
      font-weight: 700;
      font-size: 1.6em;
      border-top: 1px solid $grayCharcoal;
      margin-top: -0.4em;
      }
    a span.jmg
      {     
      padding-top: 1em;
      }
  }
header#small h1#site-title
  {
    a span
      {
      font-size: 0.6em;
      }
    a span.the,
    a span.of
      {
      font-size: 0.266em;
      }
    a span.oc
      {
      margin-top: -0.5em;
      }
  }
header#large h1#site-title
  {
    a span
      {
      font-size: 1em;
      }
    a span.the,
    a span.of
      {
      font-size: 0.444em;
      }
  }


h1, h2, h3, h4, h5, h6
  {
	margin-bottom: 1em;
	font-family: $font-family-serif;
  }

div#content
  {
	p, ul, ol, dl
	  {
		margin-right: 1em;
		margin-bottom: 0.6em;
    }
	p + p
	  {
		text-indent: 1em;
    }
	div.highlight
	  {
		margin: 1.6em 0;
    }
  }

span.post-date
  {
	display: block;
	margin-bottom: 2em;
  }

p.hero
  {
  font-size: 1.2em;
  line-height: 1.8em;
  padding-left: 4.5em
  }

p.hero:first-line 
  {
  font-weight: 800;
  text-indent: -4em;
  }

p.hero:first-letter 
  {
  font-size: 6em;
  line-height: 1em;
  font-weight: 400;
  float: left;
  margin: -0.08em 0.08em 0 -0.08em;
  }