---
layout: default
title: Homepage
---

{% include nav-large.html %}
{% include header-large.html %}

<div id="content">
  
  <p id="blurb" class="hero">Hi, I&rsquo;m Jahla. I&rsquo;m a geek, armchair philosopher, sometimes fashion designer, and occasional social commentator from Canberra, Australia. Welcome to my site where I post about life, issues that interest me, stuff I&rsquo;ve been up to and &mdash; well &mdash; just about whatever.</p>
    
  <nav id="contact">
    <ul>
      <li><a href="http://github.com/jahla/" rel="me"><span class="icon-github"></span> github.com/jahla</a></li>
      <li><a href="http://twitter.com/jahlagato/" rel="me"><span class="icon-twitter-sign"></span> twitter.com/jahlagato</a></li>
      <li><a href="mailto:jahla@jahla.org"><span class="icon-envelope"></span> jahla@jahla.org</a></li>
    </ul>
  </nav>
  
  <div class="posts">
    <h2>Posts</h2>
    <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  
</div> <!-- closes #content -->

{% include footer.html %}