		<div class="container" role="main">
			<div style="margin-top:1em; text-align: center;">
              <div class="contact">
                <p>
                  Jahla Gato<br />
                  Geek, armchair philosopher, fashion designer<br />
                  jahla@jahla.org
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/jahla</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/jahlagato</a><br />
                </p>
              </div>
        	</div>
        </div>