<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %} - Main website name</title>
		<!-- For responsive site
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="author" href="humans.txt">
		<meta name="description" content="Description Goes Here">
		<link rel="stylesheet" href="css/styles.min.css">
		<!--[if IE 8]><html class="ie8"> <![endif]-->		
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="ico/favicon.png">	    
	</head>
	<body>

    <nav role="navigation">
    </nav>

	<header role="banner">
		<div class="container" role="main">
			<div style="margin-top:1em; text-align: center;">
                <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        	</div>
        </div>
	</header>

	{{ content }}


	<footer role="contentinfo">
		<div class="container" role="main">
			<div style="margin-top:1em; text-align: center;">
              <div class="contact">
                <p>
                  Jahla Gato<br />
                  Geek, armchair philosopher, fashion designer<br />
                  jahla@jahla.org
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/jahla</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/jahlagato</a><br />
                </p>
              </div>
        	</div>
        </div>
	</footer>

	<!-- Javascripts 
	    ================================================= -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>if (!window.jQuery) {document.write('<script src="/js/jquery.min.js"><\/script>');}</script>
	<script src="js/scripts.min.js"></script>

    <!-- Analytics
    ================================================== -->
    <script>
		// analytics code
    </script>	
	</body>
</html>