---
layout: default
---

<div class="content row">
	<article class="col-md-6 col-md-offset-3">
    	<h2>{{ page.title }}</h2>
    	<span class="date" title="{{ page.date | date_to_xmlschema }}">
       		<span class="published">Published &bull;</span>
       		<span class="day">{{ page.date | date: '%d' }}</span>
    		<span class="month"><acronym>{{ page.date | date: '%b' }}</acronym></span>
       		<span class="year">{{ page.date | date: '%Y' }}</span>
    	</span>
    	{{ content }}
	</article>
</div>